#=======================
# Go
#=======================

.env

bin/
coverage.out

*.env
*.env~
*.dll
*.so
*.dylib
*.test


#=======================
#React / Vite
#=======================

frontend/node_modules/
frontend/dist/
frontend/.env


#========================
#IDE
#========================

.vscode/


#========================
#OS
#========================

.DS_Store
Thumb.db